# Database setup - Project 2

In [39]:
# Imports
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship

In [40]:
# Create Engine
engine = create_engine("sqlite:///p2_cities.sqlite")

# Use `declarative_base` from SQLAlchemy to model the city table as an ORM class
# Make sure to specify types for each column
# Declare a Base object here
Base = declarative_base()

In [41]:
# Define the ORM class or `Cities`
### BEGIN SOLUTION
class Cities(Base):
    
    __tablename__ = 'cities'

    id = Column(Integer, primary_key=True)
    city = Column(Text)
    state_name = Column(Text)
    population = Column(Float)
    lat = Column(Float)
    lng = Column(Float)
    #date = Column(Text)
    #avg_edu = Column(Float)
    #avg_income_pc = Column(Float)
    #total_college_students = Column(Float)
    #crime_rate_per_100000 = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [42]:
#use create all to create the table 

Base.metadata.create_all(engine)

In [43]:
# Verify that the table name exists in the database
engine.table_names()

['cities']

In [44]:
# Use Pandas to Bulk insert each CSV file into the table
def populate_table(engine, table, csvfile):
    """Populates a table from a Pandas DataFrame."""
    # connect to the database
    conn = engine.connect()
    
    # Load the CSV file into a pandas dataframe 
    df_to_insert = pd.read_csv(csvfile)
    
    # Orient='records' creates a list of data to write
    # http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
    #orient = to columns or records better for our needs?
    data = df_to_insert.to_dict(orient='records')

    # Optional: Delete all rows in the table 
    conn.execute(table.delete())#NEEDED OR NOT?

    # Insert the dataframe into the database in one bulk insert
    conn.execute(table.insert(), data)
    
# Call the function to insert the data for each table
populate_table(engine, Cities.__table__, 'cities.csv')

In [45]:
# Use a basic query to validate that the data was inserted correctly for table 'cities'

engine.execute("SELECT * FROM cities WHERE population > 100000 ORDER BY population DESC LIMIT 100").fetchall()

[(1840034016, 'New York', 'New York', 19354922.0, 40.6943, -73.9249),
 (1840020491, 'Los Angeles', 'California', 12815475.0, 34.1139, -118.4068),
 (1840000494, 'Chicago', 'Illinois', 8675982.0, 41.8373, -87.6861),
 (1840015149, 'Miami', 'Florida', 6381966.0, 25.784, -80.2102),
 (1840019440, 'Dallas', 'Texas', 5733259.0, 32.7937, -96.7662),
 (1840000673, 'Philadelphia', 'Pennsylvania', 5637884.0, 40.0076, -75.134),
 (1840020925, 'Houston', 'Texas', 5446468.0, 29.7868, -95.3905),
 (1840006060, 'Washington', 'District of Columbia', 5289420.0, 38.9047, -77.0163),
 (1840013660, 'Atlanta', 'Georgia', 5228750.0, 33.7626, -84.4228),
 (1840000455, 'Boston', 'Massachusetts', 4637537.0, 42.3188, -71.0846),
 (1840020568, 'Phoenix', 'Arizona', 4081849.0, 33.5722, -112.0891),
 (1840021117, 'Seattle', 'Washington', 3643765.0, 47.6211, -122.3244),
 (1840021543, 'San Francisco', 'California', 3603761.0, 37.7562, -122.443),
 (1840003971, 'Detroit', 'Michigan', 3522206.0, 42.3834, -83.1024),
 (1840021990, 'San Diego', 'California', 3210314.0, 32.8312, -117.1226),
 (1840007830, 'Minneapolis', 'Minnesota', 2926757.0, 44.9635, -93.2678),
 (1840015982, 'Tampa', 'Florida', 2804240.0, 27.9937, -82.4454),
 (1840018789, 'Denver', 'Colorado', 2787266.0, 39.7621, -104.8759),
 (1840034030, 'Brooklyn', 'New York', 2629150.0, 40.6501, -73.9496),
 (1840034002, 'Queens', 'New York', 2333054.0, 40.7498, -73.7976),
 (1840001592, 'Baltimore', 'Maryland', 2170504.0, 39.3051, -76.6144),
 (1840020551, 'Riverside', 'California', 2084749.0, 33.9381, -117.3948),
 (1840001651, 'Saint Louis', 'Missouri', 2078283.0, 38.6358, -90.2451),
 (1840020364, 'Las Vegas', 'Nevada', 2073045.0, 36.2291, -115.2607),
 (1840019941, 'Portland', 'Oregon', 2052796.0, 45.5372, -122.65),
 (1840022220, 'San Antonio', 'Texas', 2002530.0, 29.4722, -98.5247),
 (1840021491, 'Sacramento', 'California', 1854698.0, 38.5667, -121.4683),
 (1840021570, 'San Jose', 'California', 1821899.0, 37.3018, -121.8485),
 (1840015099, 'Orlando', 'Florida', 1776841.0, 28.4788, -81.342),
 (1840000596, 'Cleveland', 'Ohio', 1730363.0, 41.4767, -81.6805),
 (1840001254, 'Pittsburgh', 'Pennsylvania', 1715297.0, 40.4396, -79.9763),
 (1840003814, 'Cincinnati', 'Ohio', 1648254.0, 39.1412, -84.5059),
 (1840034000, 'Manhattan', 'New York', 1643734.0, 40.7834, -73.9662),
 (1840019590, 'Austin', 'Texas', 1638716.0, 30.3006, -97.7517),
 (1840008535, 'Kansas City', 'Missouri', 1615621.0, 39.1239, -94.5541),
 (1840030084, 'Indianapolis', 'Indiana', 1564699.0, 39.7771, -86.1458),
 (1840003760, 'Columbus', 'Ohio', 1528314.0, 39.986, -82.9852),
 (1840003871, 'Virginia Beach', 'Virginia', 1480383.0, 36.7335, -76.0435),
 (1840014557, 'Charlotte', 'North Carolina', 1467362.0, 35.2079, -80.8303),
 (1840033999, 'Bronx', 'New York', 1455720.0, 40.8501, -73.8662),
 (1840003046, 'Milwaukee', 'Wisconsin', 1377808.0, 43.064, -87.9669),
 (1840003289, 'Providence', 'Rhode Island', 1206642.0, 41.8229, -71.4186),
 (1840015031, 'Jacksonville', 'Florida', 1156291.0, 30.3322, -81.6749),
 (1840021383, 'Salt Lake City', 'Utah', 1098400.0, 40.7774, -111.9301),
 (1840036155, 'Nashville', 'Tennessee', 1076645.0, 36.1714, -86.7844),
 (1840015457, 'Memphis', 'Tennessee', 1068873.0, 35.1047, -89.9773),
 (1840001698, 'Richmond', 'Virginia', 1059907.0, 37.5295, -77.4756),
 (1840001839, 'New Orleans', 'Louisiana', 1029123.0, 30.0687, -89.9288),
 (1840014497, 'Raleigh', 'North Carolina', 1018336.0, 35.8323, -78.6439),
 (1840030815, 'Louisville', 'Kentucky', 1011696.0, 38.1662, -85.6488),
 (1840020428, 'Oklahoma City', 'Oklahoma', 955998.0, 35.4676, -97.5136),
 (1840004836, 'Bridgeport', 'Connecticut', 938406.0, 41.1909, -73.1958),
 (1840000386, 'Buffalo', 'New York', 926261.0, 42.9017, -78.8487),
 (1840004773, 'Hartford', 'Connecticut', 914751.0, 41.7661, -72.6834),
 (1840020696, 'Fort Worth', 'Texas', 874168.0, 32.7814, -97.3473),
 (1840022101, 'Tucson', 'Arizona', 868391.0, 32.1546, -110.8782),
 (1840023252, 'El Paso', 'Texas', 845674.0, 31.8479, -106.4309),
 (1840013305, 'Honolulu', 'Hawaii', 833671.0, 21.3294, -157.846),
 (1840009315, 'Omaha', 'Nebraska', 827786.0, 41.2628, -96.0495),
 (1840021024, 'McAllen', 'Texas', 800904.0, 26.2325, -98.2467),
 (1840019176, 'Albuquerque', 'New Mexico', 758523.0, 35.1053, -106.6464),
 (1840006507, 'Birmingham', 'Alabama', 744189.0, 33.5276, -86.7988),
 (1840034249, 'Dayton', 'Ohio', 718169.0, 39.7797, -84.1998),
 (1840000373, 'Rochester', 'New York', 711998.0, 43.168, -77.6162),
 (1840015988, 'Sarasota', 'Florida', 706245.0, 27.3391, -82.5439),
 (1840020319, 'Fresno', 'California', 698021.0, 36.7834, -119.7941),
 (1840001044, 'Allentown', 'Pennsylvania', 682899.0, 40.5961, -75.4756),
 (1840021672, 'Tulsa', 'Oklahoma', 672054.0, 36.1284, -95.9042),
 (1840018905, 'Concord', 'California', 654770.0, 37.9722, -122.0016),
 (1840015130, 'Cape Coral', 'Florida', 630134.0, 26.6444, -81.9956),
 (1840000466, 'Springfield', 'Massachusetts', 628076.0, 42.1155, -72.5395),
 (1840018825, 'Colorado Springs', 'Colorado', 623946.0, 38.8674, -104.7606),
 (1840015163, 'Charleston', 'South Carolina', 616085.0, 32.8137, -79.9643),
 (1840002928, 'Grand Rapids', 'Michigan', 602694.0, 42.9615, -85.6557),
 (1840020580, 'Mission Viejo', 'California', 600474.0, 33.6095, -117.6551),
 (1840000417, 'Albany', 'New York', 597270.0, 42.6664, -73.7987),
 (1840014486, 'Knoxville', 'Tennessee', 585249.0, 35.9692, -83.9495),
 (1840013941, 'Baton Rouge', 'Louisiana', 583613.0, 30.4423, -91.1314),
 (1840019148, 'Bakersfield', 'California', 574362.0, 35.353, -119.036),
 (1840020135, 'Ogden', 'Utah', 573632.0, 41.228, -111.9677),
 (1840004850, 'New Haven', 'Connecticut', 568144.0, 41.3112, -72.9245),
 (1840014730, 'Columbia', 'South Carolina', 566166.0, 34.037, -80.9042),
 (1840000791, 'Akron', 'Ohio', 565920.0, 41.0802, -81.5219),
 (1840020174, 'Provo', 'Utah', 503695.0, 40.2458, -111.6457),
 (1840000434, 'Worcester', 'Massachusetts', 498997.0, 42.2705, -71.8079),
 (1840020566, 'Mesa', 'Arizona', 496401.0, 33.4017, -111.7181),
 (1840015094, 'Palm Bay', 'Florida', 489912.0, 27.9861, -80.6628),
 (1840000572, 'Toledo', 'Ohio', 488672.0, 41.6639, -83.5822),
 (1840020553, 'Murrieta', 'California', 483681.0, 33.5719, -117.1909),
 (1840001686, 'Wichita', 'Kansas', 483057.0, 37.6897, -97.3442),
 (1840007069, 'Des Moines', 'Iowa', 481222.0, 41.5725, -93.6104),
 (1840034032, 'Staten Island', 'New York', 476015.0, 40.5834, -74.1496),
 (1840020490, 'Long Beach', 'California', 469450.0, 33.8059, -118.161),
 (1840013501, 'Greenville', 'South Carolina', 467894.0, 34.8363, -82.365),
 (1840015509, 'Little Rock', 'Arkansas', 442699.0, 34.7255, -92.3581),
 (1840001288, 'Harrisburg', 'Pennsylvania', 441580.0, 40.2752, -76.8843),
 (1840019390, 'Denton', 'Texas', 440146.0, 33.2176, -97.1421),
 (1840002915, 'Madison', 'Wisconsin', 439553.0, 43.0808, -89.3922),
 (1840020121, 'Reno', 'Nevada', 433271.0, 39.5497, -119.8483),
 (1840015119, 'Port Saint Lucie', 'Florida', 432589.0, 27.2796, -80.3883)]

In [19]:
#This CSV is serving as our dummy DATA

In [49]:
df = pd.DataFrame(engine.execute("SELECT * FROM cities ORDER BY population DESC LIMIT 100").fetchall())

In [50]:
df.columns = ["id", "city_name", "state", "pop","lat", "lng"]

In [51]:
len(df["state"].unique())

38

In [52]:
df

,id,city_name,state,pop,lat,lng
0,1840034016,New York,New York,19354922.0,40.6943,-73.9249
1,1840020491,Los Angeles,California,12815475.0,34.1139,-118.4068
2,1840000494,Chicago,Illinois,8675982.0,41.8373,-87.6861
3,1840015149,Miami,Florida,6381966.0,25.7840,-80.2102
4,1840019440,Dallas,Texas,5733259.0,32.7937,-96.7662
5,1840000673,Philadelphia,Pennsylvania,5637884.0,40.0076,-75.1340
6,1840020925,Houston,Texas,5446468.0,29.7868,-95.3905
7,1840006060,Washington,District of Columbia,5289420.0,38.9047,-77.0163
8,1840013660,Atlanta,Georgia,5228750.0,33.7626,-84.4228
9,1840000455,Boston,Massachusetts,4637537.0,42.3188,-71.0846
10,1840020568,Phoenix,Arizona,4081849.0,33.5722,-112.0891
11,1840021117,Seattle,Washington,3643765.0,47.6211,-122.3244
12,1840021543,San Francisco,California,3603761.0,37.7562,-122.4430
13,1840003971,Detroit,Michigan,3522206.0,42.3834,-83.1024
14,1840021990,San Diego,California,3210314.0,32.8312,-117.1226
15,1840007830,Minneapolis,Minnesota,2926757.0,44.9635,-93.2678
16,1840015982,Tampa,Florida,2804240.0,27.9937,-82.4454
17,1840018789,Denver,Colorado,2787266.0,39.7621,-104.8759
18,1840034030,Brooklyn,New York,2629150.0,40.6501,-73.9496
19,1840034002,Queens,New York,2333054.0,40.7498,-73.7976
20,1840001592,Baltimore,Maryland,2170504.0,39.3051,-76.6144
21,1840020551,Riverside,California,2084749.0,33.9381,-117.3948
22,1840001651,Saint Louis,Missouri,2078283.0,38.6358,-90.2451
23,1840020364,Las Vegas,Nevada,2073045.0,36.2291,-115.2607
24,1840019941,Portland,Oregon,2052796.0,45.5372,-122.6500
25,1840022220,San Antonio,Texas,2002530.0,29.4722,-98.5247
26,1840021491,Sacramento,California,1854698.0,38.5667,-121.4683
27,1840021570,San Jose,California,1821899.0,37.3018,-121.8485
28,1840015099,Orlando,Florida,1776841.0,28.4788,-81.3420
29,1840000596,Cleveland,Ohio,1730363.0,41.4767,-81.6805
...,...,...,...,...,...,...
70,1840000466,Springfield,Massachusetts,628076.0,42.1155,-72.5395
71,1840018825,Colorado Springs,Colorado,623946.0,38.8674,-104.7606
72,1840015163,Charleston,South Carolina,616085.0,32.8137,-79.9643
73,1840002928,Grand Rapids,Michigan,602694.0,42.9615,-85.6557
74,1840020580,Mission Viejo,California,600474.0,33.6095,-117.6551
75,1840000417,Albany,New York,597270.0,42.6664,-73.7987
76,1840014486,Knoxville,Tennessee,585249.0,35.9692,-83.9495
77,1840013941,Baton Rouge,Louisiana,583613.0,30.4423,-91.1314
78,1840019148,Bakersfield,California,574362.0,35.3530,-119.0360
79,1840020135,Ogden,Utah,573632.0,41.2280,-111.9677
80,1840004850,New Haven,Connecticut,568144.0,41.3112,-72.9245
81,1840014730,Columbia,South Carolina,566166.0,34.0370,-80.9042
82,1840000791,Akron,Ohio,565920.0,41.0802,-81.5219
83,1840020174,Provo,Utah,503695.0,40.2458,-111.6457
84,1840000434,Worcester,Massachusetts,498997.0,42.2705,-71.8079
85,1840020566,Mesa,Arizona,496401.0,33.4017,-111.7181
86,1840015094,Palm Bay,Florida,489912.0,27.9861,-80.6628
87,1840000572,Toledo,Ohio,488672.0,41.6639,-83.5822
88,1840020553,Murrieta,California,483681.0,33.5719,-117.1909
89,1840001686,Wichita,Kansas,483057.0,37.6897,-97.3442
90,1840007069,Des Moines,Iowa,481222.0,41.5725,-93.6104
91,1840034032,Staten Island,New York,476015.0,40.5834,-74.1496
92,1840020490,Long Beach,California,469450.0,33.8059,-118.1610
93,1840013501,Greenville,South Carolina,467894.0,34.8363,-82.3650
94,1840015509,Little Rock,Arkansas,442699.0,34.7255,-92.3581
95,1840001288,Harrisburg,Pennsylvania,441580.0,40.2752,-76.8843
96,1840019390,Denton,Texas,440146.0,33.2176,-97.1421
97,1840002915,Madison,Wisconsin,439553.0,43.0808,-89.3922
98,1840020121,Reno,Nevada,433271.0,39.5497,-119.8483
99,1840015119,Port Saint Lucie,Florida,432589.0,27.2796,-80.3883